<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.example.jspEx.dao.IReplyDao">
 	<select id="getReplyList" resultType="com.example.jspEx.dto.ReplyDto" >
     	SELECT * FROM tbl_reply WHERE nno = #{nno}
 	</select>
	
	<insert id="saveReply" parameterType="com.example.jspEx.dto.ReplyDto" >
		INSERT INTO tbl_reply (nno, comment, writer)
		VALUES (#{reply.nno}, #{reply.comment}, #{reply.writer})
	</insert>
	
	<delete id="deleteReply" >
		DELETE FROM tbl_reply WHERE rno = #{rno}
	</delete>
</mapper>